.start-con{
    position: relative;
    background: radial-gradient(rgba(147, 194, 194, 0),aqua);
    width: 100%;
    height: 100vh; 
}

.tekst{
   position: absolute;
   width: 40%;
   top: 40%;
   left: 7%;
   font-size: 1rem;
   color: black;
}

.tekst > p{
    font-weight: 600;
}

.tekst > h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.tekst > a {
    font-weight: 600;
    position: absolute;
    color: black;
    margin-top: 20px;
    border-radius: 15px;
    padding: 7px 20px;
    background: radial-gradient(rgb(206, 169, 50), rgb(209, 138, 7));
   
    transition: 0.1s;
}

.tekst > a:hover{
    cursor: pointer;
    background: rgb(173, 121, 8);
    transform: scale(1.1)  
}

@media (min-width: 600px){

    .tekst > h1 {
        font-size: 4rem;
    }
}

